# pip install -r requirements.txt
Flask==3.0.0
Flask-Cors==4.0.0
scipy==1.11.4
librosa==0.10.1
soundfile==0.12.1
numpy==1.26.2
--index-url https://download.pytorch.org/whl/cu118
torch 
torchvision 
torchaudio 
tqdm
